page-level3 {



.img{
        background-image: url("../../assets/imgs/level3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    h1{
        background-color: white;
        color: black;
        text-align: center;
        height: 5%;
        position: relative;
        bottom: 3%;
    }

    .icon{

        margin-left: 48%;
    }

    
p{
    color: white;
    font-size: 150%;
    text-align: center;
}


.item{
    background-color: rgba(255, 255, 255, 0);
    color: white;

}









}
