page-cat {

.img{
    background-image: url('../../assets/imgs/quiz.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


h1{
    color: white;
    font-size: 250%;
}

.button{
 
    background-color: rgba(165, 161, 161, 0.726);
    border-radius: 20px;
    width: 50%;
    

}














}
